body {
  font-family: monospace;
  background-color: #1e1e1e;
  color: #dcdcdc;
  margin: 0;
  padding: 0 3% 0 3%;
}

.header > h1 {
  color: #569cd6;
}

.filename,
.timestamp {
  margin: 5px 0;
  font-size: 0.9rem;
  word-break: break-all;
}

#log-container {
  background-color: #252526;
  border-radius: 15px;
  border: 1px solid #3c3c3c;
  height: 80vh;
  overflow-y: auto;
  padding: 15px;
  scrollbar-width: none;
  white-space: pre-wrap;
  word-wrap: break-word;
}

#log-container::-webkit-scrollbar {
  display: none;
}

.log-line {
  /* breathing room on top and bottom */
  padding: 3px 0;
}

.info {
  color: #9cdcfe;
}

.error {
  color: #f44747;
}

.warning {
  color: #dcdcaa;
}

.debug {
  color: #6a9955;
}

.header {
  text-align: center;
  margin: 0 auto;
  max-width: 90%;
  margin-bottom: 20px;
}

.timestamp {
  color: #888;
  font-size: 0.9em;
  margin-top: 5px;
}

@media (max-width: 600px) {
  .header h1 {
    font-size: 1.2rem;
  }

  .filename,
  .timestamp {
    font-size: 0.8rem;
  }

  #log-container {
    font-size: 0.8rem;
  }
}

.connection-error {
  color: #f44747;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}
